<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parallax</title>
</head>
<body>
    <div id="scene">
        <!-- 100 -->
        <div class="sky-layer">
            <div class="cloud-move">
                <div class="cloud-line">
                    <img src="../assets/images/parallax-2/cloude-line-1.svg" alt="">
                    <img src="../assets/images/parallax-2/cloude-line-1.svg" alt="">
                </div>
            </div>
            <div class="cloud-move">
                <div class="cloud-line">
                    <img src="../assets/images/parallax-2/cloude-line-2.svg" alt="">
                    <img src="../assets/images/parallax-2/cloude-line-2.svg" alt="">
                </div>
            </div>
        </div>
        <div class="ground-layer"></div>
        <div class="layer-wrapper">
            <div id="layer-1" class="layer">
                <img src="../assets/images/parallax-2/layer-fronts-r.svg" alt="">
            </div>
            <div id="layer-2" class="layer">
                <img src="../assets/images/parallax-2/layer-fronts-r2.svg" alt="">
            </div>
            <div id="layer-3" class="layer">
                <img src="../assets/images/parallax-2/layer-fronts-l.svg" alt="">
            </div>
            <div id="layer-4" class="layer">
                <img src="../assets/images/parallax-2/layer-fronts-r.svg" alt="">
            </div>
            <div id="layer-5" class="layer">
                <img src="../assets/images/parallax-2/layer-fronts-r2.svg" alt="">
            </div>
            <div id="layer-6" class="layer">
                <img src="../assets/images/parallax-2/layer-fronts-l.svg" alt="">
            </div>
            <div id="layer-7" class="layer">
                <img src="../assets/images/parallax-2/layer-fronts-l2.svg" alt="">
            </div>
            <div id="layer-8" class="layer">
                <img src="../assets/images/parallax-2/layer-fronts-r.svg" alt="">
            </div>
            <div id="layer-9" class="layer">
                <img src="../assets/images/parallax-2/layer-fronts-l.svg" alt="">
            </div>
            <div id="layer-10" class="layer">
                <img src="../assets/images/parallax-2/layer-fronts-l2.svg" alt="">
            </div>
        </div>
    </div>
</body>
</html>