<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<header></header>
	<div class="content-wrapper">
		<div class="content">
			<div class="card large-x">
				<h1>Front-end - в дурацком</h1>
			</div>
			<div class="card medium-x small-y">medium-x small-y</div>
			<div class="card medium-x large-y">
				<div class="energy-switch-wrapper">
					<div class="energy-switch"></div>
				</div>
			</div>
			<div class="card small-x largest-y">small-x largest-y</div>
			<div class="card large-x">large-x</div>
			<div class="card small-x largest-y">
				<div class="check-lock-wrapper" style="width: 180px; height: 180px;">
					<div class="check-lock">
						<input type="checkbox" id="lockerA">
						<label for="lockerA">
							<div class="round-1"></div>
							<div class="round-2"></div>
							<div class="round-3"></div>
							<div class="round-4"></div>
							<div class="stroke"></div>
						</label>
					</div>
				</div>
			</div>
			<div class="card medium-x small-y">
				<div class="check-lock-wrapper" style="width: 36px; height: 36px;">
					<div class="check-lock">
						<input type="checkbox" id="lockerB">
						<label for="lockerB">
							<div class="round-1"></div>
							<div class="round-2"></div>
							<div class="round-3"></div>
							<div class="round-4"></div>
							<div class="stroke"></div>
							<div class="stroke"></div>
							<div class="stroke"></div>
						</label>
					</div>
				</div>
			</div>
			<div class="card medium-x medium-y">
				<div class="check-lock-wrapper">
					<div class="check-lock">
						<input type="checkbox" id="lockerC">
						<label for="lockerC">
							<div class="round-1"></div>
							<div class="round-2"></div>
							<div class="round-3"></div>
							<div class="round-4"></div>
							<div class="stroke"></div>
							<div class="stroke"></div>
							<div class="stroke"></div>
						</label>
					</div>
				</div>
			</div>
			<div class="card medium-x small-y">medium-x small-y</div>
		</div>
	</div>
	<aside></aside>
</body>
</html>